*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}
header{
    margin: 0.25vw 0.5vw ;
    width: 99vw;
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
    background-color: burlywood;
    height: auto;
    min-height: 10vh;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
nav{
    margin: 0.25vw 0.5vw 0.25vw;
    width: 99vw;
    height: auto;
    float: left;
    min-height: 10vh;
    border: 2px solid blueviolet;
    background-color: coral;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;   
    border-radius: 0 0 5px 5px;
    gap: 3rem;
        /* margin-top: 1.25vw; */

}
aside{
    width: 15vw;
    float: left;
    height: auto;
    min-height: 65vh;
    border: 2px dotted purple;
    background-color: blanchedalmond;
    border-radius: 5px 0 0 5px;
    text-align: center;
    color: #ab00df;
    margin-left: 0.5vw;
    font-weight: bolder;
}
main{
    width: 64vw;
    float: left;
    border: 2px;
    background-color: peru;
    height: auto;
    min-height: 65vh;
    margin: 0 0.25vw ;
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 10px;
}
section{
    width: 18vw;
    border: 2px solid #551a88;
    border-radius: 0 5px 5px 0;
    height: auto;
    /* float: left; */
    min-height: 65vh;
    background-color: bisque;
    float: right;
    margin-right: 0.5vw;
        /* margin: 9 4; */
}
article{
    width: 98%;
    margin: 1% 1% 0 1% ;
    height: 21vh;
    border: 1px solid gray;
    background-color: coral;
    text-align: center;
    /* align-items: center; */
    align-content: center;
    /* justify-content: center; */
}
footer{
    margin: 0,25vw 0.5vw 0.25vw;
    width: 99vw;
    height: auto;
    float: left;
    min-height: 10vh;
    border: 2px solid blueviolet;
    background-color: coral;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;   
    border-radius: 0 0 5px 5px;
        margin-top: 1.25vw;

}
nav li{
    list-style-type: none;
    width: 12%;
    background-color: rgb(113, 164, 19);
    font-size: x-large;
    font-weight: bold;
    color: #fff;
    margin-top: 1.5%;
    margin-right: 2%;
    float: left;
    
}
/* a>li{
    color:#FF0000AD;
    border-radius: 5px;
} */
nav li:hover{
    /* width: 15%; */
    border-radius: 5px;
    /* font-weight: bolder; */
    background-color: rgb(205, 85, 85);
    color: aliceblue;
}
nav a:hover{
    color: #fff;
}
nav a{
    text-decoration: none;
}
/* nav, footer {
    margin: 0 0.5vw 0.25vw;
    width: 99vw;
    height: auto;
    float: left;
    min-height: 10vh;
    border: 2px solid blueviolet;
    background-color: coral;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 5px 5px;
} */
/* .red{
    margin-top: 0.25vw;
} */

/* nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    
} */
/* nav ul li{
    list-style: none;
   
} */
/* nav ul li a{
    text-decoration: none;
    background-color: #fff;
    padding: 3 6;
    border-radius: 2px;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: #16bedb;
    padding: 3 6;
    border-radius: 2px;
    color: #fff;
} */
body{
    overflow-x: hidden;
}
nav > ul{
    display: contents;

}


@media only screen and (max-width:600px){
    aside,section{
        display: none;
    }
    /* nav ul{
        display: inline;

    } */
    main{
        width: 98vw;
        margin: 0.25vh 0.5vw;
        text-align: justify;
    }
    header{
        font-size: large;
    }
    nav li{
        width: 95%;
        margin: 0 2% 1.5vmin ;
    }
}
@media only screen and ((min-width:600px) and (max-width:992px)){
    aside,section{
        display: none;
    }
    nav{
        width: 30vw;
        min-height: 80vmax ;
        height: auto;
        float: left;
    }
    nav li{
        width: 95%;
        margin: 0.2% 1.5vh;
    }
    main{
        width: 98vw;
        margin: 0.25vh 0.5vw;
        text-align: justify;
    }
}