* {
  box-sizing: border-box;
  margin: 0;
}

header {
  margin: 0.25vw 0.5vw;
  width: 99vw;
  border-width: 2px;
  border-style: solid;
  border-color: blueviolet;
  background-color: burlywood;
  height: auto;
  min-height: 15vh;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
nav,
footer {
  margin: 0 0.5vw 0.25vw;
  width: 99vw;
  height: auto;
  float: left;
  min-height: 10vh;
  border: 2px solid blueviolet;
  background-color: coral;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
aside {
  width: 15vw;
  float: left;
  height: auto;
  min-height: 65vh;
  border: 2px dotted purple;
  background-color: blanchedalmond;
  border-radius: 5px 0 0 5px;
  text-align: center;
  color: #ab00df;
  margin-left: 0.5vw;
  font-weight: bolder;
}
main {
  width: 64vw;
  float: left;
  border: 2px groove purple;
  background-color: peru;
  height: auto;
  min-height: 65vh;
  margin: 0 0.25vw;
  text-align: center;
  font-weight: 600;
  color: white;
  padding-top: 10px;
}
section {
  width: 18vw;
  border: 2px solid #551a88;
  border-radius: 0 5px 5px 0;
  height: auto;
  min-height: 65vh;
  background-color: bisque;
  float: right;
  margin-right: 0.5vw;
}
article {
  width: 98%;
  margin: 1% 1% 0 1%;
  height: 20vh;
  border: 1px solid gray;
  background-color: coral;
}
footer {
  background-color: rgb(255, 193, 193);
  margin-top: 0.25vh;
  font-weight: bolder;
  color: rgb(220, 20, 60);
}

nav li {
  list-style-type: none;
  background-color: #68228baf;
  margin-top: 0.5vh;
  width: 12%;
  float: left;
  margin-right: 2%;
  height: auto;
  min-height: 8vh;
}
nav li:hover {
  background-color: brown;
  color: white;
  font-size: x-large;
  border-radius: 10px;
}
a > li {
  color: red;
  font-weight: bolder;
}
nav > ul {
  display: contents;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 255, 0.6);
}
tr:last-child {
  background-color: blueviolet;
  font-size: xx-large;
}
td:hover,
th:hover {
  background-color: brown;
  color: white;
  font-size: xx-large;
}
body{
    overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  aside,
  section {
    display: none;
  }
  header {
    font-size: large;
  }
  label {
    display: inline-block;
    width: 80%;
  }
  main {
    width: 100%;
    margin: 0.25vh 0.5vw;
    text-align: justify;
  }
  nav li {
    width: 95%;
    margin: 0 2% 1.5vmin;
  }
  iframe {
    width: 98%;
  }
  table {
    width: 98%;
  }
}

@media only screen and ((min-width: 600px) and (max-width:992px)) {
  aside,
  section {
    display: none;
  }
  nav {
    width: 30vw;
    min-height: 80vmax;
    height: auto;
    float: left;
  }
  nav li {
    width: 95%;
    margin: 0 2% 1.5vh;
  }
  main {
    width: 68vw;
    text-align: justify;
    margin: 0.25vh 0.25vw;
  }
  iframe {
    width: 98%;
  }
  table {
    width: 98%;
  }
}
