* {
  box-sizing: border-box;
  margin: 0;
}

header {
  margin: 0.25vw 0.5vw;
  width: 99vw;
  border-width: 2px;
  border-style: solid;
  border-color: blueviolet;
  background-color: burlywood;
  height: auto;
  min-height: 15vh;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

nav,
footer {
  margin: 0 0.5vw 0.25vw;
  width: 99vw;
  height: auto;
  float: left;
  min-height: 10vh;
  border: 2px solid blueviolet;
  background-color: coral;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

aside {
  width: 15vw;
  float: left;
  height: auto;
  min-height: 65vh;
  border: 2px dotted purple;
  background-color: blanchedalmond;
  border-radius: 5px 0 0 5px;
  text-align: center;
  color: #ab00df;
  margin-left: 0.5vw;
  font-weight: bolder;
}

main {
  width: 64vw;
  float: left;
  border: 2px groove purple;
  background-color: peru;
  height: auto;
  min-height: 65vh;
  margin: 0 0.25vw;
  text-align: center;
  font-weight: 600;
  color: white;
  padding-top: 10px;
}

section {
  width: 18vw;
  border: 2px solid #551a88;
  border-radius: 0 5px 5px 0;
  height: auto;
  min-height: 65vh;
  background-color: bisque;
  float: right;
  margin-right: 0.5vw;
}

article {
  width: 98%;
  margin: 1% 1% 0 1%;
  height: 20vh;
  border: 1px solid gray;
  background-color: coral;
}

footer {
  background-color: rgb(255, 193, 193);
  margin-top: 0.25vh;
  font-weight: bolder;
  color: rgb(220, 20, 60);
}

nav li {
  list-style-type: none;
  background-color: #68228baf;
  margin-top: 0.5vh;
  width: 12%;
  float: left;
  margin-right: 2%;
  height: auto;
  min-height: 8vh;
}

nav li:hover {
  background-color: brown;
  color: white;
  font-size: x-large;
  border-radius: 10px;
}

a > li {
  color: red;
  font-weight: bolder;
}

nav > ul {
  display: contents;
}

/* Table styling improvements */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 255, 0.6);
}

tr:last-child {
  background-color: blueviolet;
  font-size: xx-large;
}

td, th {
  padding: 8px;
  border: 1px solid white;
}

td:hover,
th:hover {
  background-color: brown;
  color: white;
  font-size: xx-large;
}

body {
  overflow-x: hidden;
}

/* MOBILE DEVICES (Portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
  aside,
  section {
    display: none;
  }
  
  header {
    font-size: large;
    width: 98vw;
    margin: 0.25vw;
    min-height: 10vh;
    padding: 10px 5px;
  }
  
  nav {
    width: 98vw;
    margin: 0.25vw;
  }
  
  nav li {
    width: 95%;
    margin: 0 2.5% 1.5vmin;
    float: none;
  }
  
  label {
    display: inline-block;
    width: 80%;
  }
  
  main {
    width: 98vw;
    margin: 0.25vh 0.25vw;
    text-align: justify;
    overflow-x: auto;
    padding: 5px;
  }
  
  /* Table wrapper for horizontal scroll */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-size: 0.55rem;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  
  table th,
  table td {
    padding: 4px 6px;
    min-width: 50px;
    font-size: 0.5rem;
    border: 1px solid white;
  }
  
  /* Make the first column (Day/Time) sticky */
  table th:first-child,
  table td:first-child {
    position: sticky;
    left: 0;
    background-color: #CD853F; /* peru color */
    z-index: 2;
    font-weight: bold;
  }
  
  table tr:nth-child(even) td:first-child {
    background-color: rgba(0, 0, 255, 0.6);
  }
  
  table tr:last-child td:first-child {
    background-color: blueviolet;
  }
  
  /* Reduce hover effects on mobile */
  td:hover,
  th:hover {
    font-size: 0.6rem;
  }
  
  iframe {
    width: 98%;
  }
  
  footer {
    width: 98vw;
    margin: 0.25vh 0.25vw;
    font-size: medium;
    min-height: 8vh;
  }
}

/* TABLET DEVICES (Portrait tablets and large phones, 600px to 992px) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  aside,
  section {
    display: none;
  }
  
  header {
    width: 98vw;
    margin: 0.25vw;
    font-size: x-large;
  }
  
  nav {
    width: 28vw;
    min-height: 80vmax;
    height: auto;
    float: left;
    margin: 0.25vh 0.5vw;
  }
  
  nav li {
    width: 90%;
    margin: 0 5% 1.5vh;
    float: none;
  }
  
  main {
    width: 69vw;
    text-align: justify;
    margin: 0.25vh 0.25vw;
    overflow-x: auto;
    float: left;
  }
  
  /* Table styling for tablets */
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    font-size: 0.7rem;
    -webkit-overflow-scrolling: touch;
  }
  
  table th,
  table td {
    padding: 6px 8px;
    min-width: 65px;
    font-size: 0.65rem;
  }
  
  /* Sticky first column */
  table th:first-child,
  table td:first-child {
    position: sticky;
    left: 0;
    background-color: #CD853F;
    z-index: 2;
    font-weight: bold;
  }
  
  table tr:nth-child(even) td:first-child {
    background-color: rgba(0, 0, 255, 0.6);
  }
  
  table tr:last-child td:first-child {
    background-color: blueviolet;
  }
  
  td:hover,
  th:hover {
    font-size: 0.8rem;
  }
  
  iframe {
    width: 98%;
  }
  
  footer {
    width: 98vw;
    margin: 0.25vh 0.25vw;
  }
}

/* LANDSCAPE MODE for mobile devices */
@media only screen and (max-height: 600px) and (orientation: landscape) {
  header {
    min-height: 12vh;
    font-size: medium;
  }
  
  table {
    font-size: 0.5rem;
  }
  
  table th,
  table td {
    padding: 3px 5px;
    font-size: 0.48rem;
    min-width: 45px;
  }
  
  td:hover,
  th:hover {
    font-size: 0.55rem;
  }
}

/* LARGE SCREENS (Desktops, 993px and up) */
@media only screen and (min-width: 993px) {
  main {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    font-size: 0.9rem;
  }
}